### shit added by dawnie~
.*rc
*config.json*
!.*rc.*js
dist/
build
*ignore
extern


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
