{
	"editorconfig": true,
	"useTabs": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"quoteProps": "consistent",
	"jsxSingleQuote": true,
	"endOfLine": "crlf",
	"requirePragma": false,
	"overrides": [
		{
			"files": [
				"*.ts",
				"*.tsx"
			],
			"options": {
				"parser": "typescript"
			}
		},
		{
			"files": [
				"*.js",
				"*.jsx",
				"*.cjs",
				"*.mjs"
			],
			"options": {
				"parser": "babel"
			}
		}
	]
}
